<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="/template/css/style.css">
    <link rel="shortcut icon" href="https://www.google.com/s2/u/0/favicons?domain=realmadrid.com" type="image/x-icon">
    <title>Template</title>
</head>
<body>
    <i class="fa-solid fa-ghost"></i>

    <!--Script-->
    <script src="/template/js/scripts.js"></script>
</body>
</html>